body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;

}

.hero-section {
    background: url('/IMG-20240309-WA0012.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;

}

.hero-content {
    padding: 20px;
}

.logo {
    max-width: 120px;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
}
.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
    animation: textMove 3s infinite linear alternate;
}

@keyframes textMove {
    0% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(2%);
    }
}
.hero-content p {
    font-size: 1.2em;
    color: #eee;
}

#add {
    background-color: blueviolet;
    border-radius: 20px;
    border: 2px solid #fff;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    margin-left: 20px;
}

#update {
    background-color: darkorange;
    border-radius: 20px;
    border: 2px solid #fff;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    margin-left: 20px;
}

#Attendance {
    background-color: forestgreen;
    border-radius: 20px;
    border: 2px solid #fff;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    margin-left: 20px;
}

#add:hover {
    background-color: #fff;
    color: blueviolet;
}

#update:hover {
    background-color: #fff;
    color: darkorange;
}

#Attendance:hover {
    background-color: #fff;
    color: forestgreen;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
footer {
    background-color: #f3f1f6;
    padding: 30px 0;
    color: #cb3b3b;
    width: 100%;
}
h3{
    text-decoration: underline;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.developer-info {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    .hero-content h1 {
        font-size: 1.5em;
    }

    #add,
    #update,
    #Attendance {
        font-size: 1.2em;
        padding: 8px 16px;
    }
}
